{{ define "content" }}
<div id="app">

<table class="highlight bordered">
	<thead id="headerStatus">
    	<tr>
        	<th style="width:30%">入退室</th>
            <th style="width:70%">時刻</th>

        </tr>
    </thead>
    <tbody class="white" id="recordDatas">
        <tr  v-on:click="select" v-for="item in items" class="driveInfo" data-activates="driveInfo" v-bind:idstr=item.Id v-bind:latitude=item.Latitude v-bind:longitude=item.longitude>
          <td>
          　　<div v-if="item.Type == 1"　class="green-text">入室</div>
          　　<div v-else　class="red-text">退室</div>
          </td>
          <td>${item.Time}</td>
        </tr>
    </tbody>
</table>
</div>
<div id="preloader">
	<div class="row" style="height:50px"></div>
    <div class="row" align="center">
    	<div class="preloader-wrapper big active">
        	<div class="spinner-layer spinner-blue-only">
            	<div class="circle-clipper left">
                	<div class="circle"></div>
                </div>
               	<div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                	<div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
